{% extends 'main/tmp/base.html' %}


{% block meta %}
<meta http-equiv="refresh" content="3;url=/" />
{% endblock %}

{% block title %}
Parrot not found
{% endblock %}


{% block body %}

<br>
<br>
<br>
<br>

<h2>Parrot not found</h2>
{% endblock %}