{% extends 'main/tmp/base.html' %}

{% block title %}
About parrots
{% endblock %}


{% block body %}

<br>
<br>
<br>
<br>

<h2>About</h2>
<p><img src='/media/images/about.jpg' alt='team'></p>
{% endblock %}